:root {
    --Dark_Blue_Dark_Mode_Elements: hsl(209, 23%, 22%);
    --Very_Dark_Blue_Dark_Mode_Background: hsl(207, 26%, 17%);
    --Very_Dark_Blue_Light_Mode_Text: hsl(200, 15%, 8%);
    --Dark_Gray_Light_Mode_Input: hsl(0, 0%, 52%);
    --Very_Light_Gray_Light_Mode_Background: hsl(0, 0%, 98%);
    --White_Dark_Mode_Text_Light_Mode_Elements: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: 10px;
}

body {
    font-family: 'Nunito';
    width: 100%;
    background-color: var(--Very_Dark_Blue_Dark_Mode_Background);
    color: var(--White_Dark_Mode_Text_Light_Mode_Elements);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    background-color: var(--Dark_Blue_Dark_Mode_Elements);
}

nav .logo {
    width: 50%;
}

nav .logo h1 {
    font-size: 1.3rem;
    font-weight: 700;
}

nav .modes {
    width: 23%
}

nav .modes .switcher {
    width: 100%;
}

nav .modes .switcher .mode {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

nav .modes .switcher .mode .moon {
    margin-right: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_region {
    width: 100%;
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.search_region .search_bar {
    display: flex;
    width: 80%;
    background-color: var(--Dark_Blue_Dark_Mode_Elements);
    margin-left: 10%;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 5px;
}

.search_region .search_bar .search_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.search_region .search_bar .search_icon ion-icon {
    font-size: 2rem;
}

.search_region .search_bar .search_form {
    width: 70%;
    margin-left: 1%;
}

.search_region .search_bar .search_form input {
    width: 100%;
    padding: 2%;
    background-color: var(--Dark_Blue_Dark_Mode_Elements);
    color: var(--White_Dark_Mode_Text_Light_Mode_Elements);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.5rem;
}

.search_region .search_bar .search_form input::placeholder {
    color: inherit;
    font-family: inherit;
}

.search_region .filter {
    width: 30%;
    margin-left: 10%;
}

.search_region .filter .filter_box {
    width: 100%;
    background-color: var(--Dark_Blue_Dark_Mode_Elements);
    text-align: left;
    border-radius: 5px;
    padding: 10%;
    position: relative;
    font-size: 1.2rem;
}

.search_region .filter .filter_box .filter_by {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.search_region .filter .filter_box .filter_by .chev {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_region .filter .filter_box .category {
    width: 100%;
    list-style: none;
    padding: 3%;
    background-color: var(--Dark_Blue_Dark_Mode_Elements);
    border-radius: 5px;
    position: absolute;
    top: 110%;
    left: 0;
    display: none;
}

.search_region .filter .filter_box .category li {
    padding-top: 2%;
}

.countries {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.countries .card {
    width: 80%;
    background-color: var(--Dark_Blue_Dark_Mode_Elements);
}